rojo = #FF5F5F
negro = #000000
grisClaro = #DCDCDC
grisOscuro = #777777
Blanco = #FFFFFF
textColor = #666

::selection
  color Blanco
  background grisClaro

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-hqo5k1');
    src:url('../fonts/icomoon.eot?#iefix-hqo5k1') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-hqo5k1') format('woff'),
    url('../fonts/icomoon.ttf?-hqo5k1') format('truetype'),
    url('../fonts/icomoon.svg?-hqo5k1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e600";
  font-size 2em
  text-decoration none
}


a
  color Blanco


audio
  width 300px

body
  font-family 'Roboto'
  font-size   16px
  margin      0
  text-align center

h1, h2, h3 p
  color textColor

footer
  background grisOscuro
  color Blanco

header
  background rojo
  margin-top -1.3em

iframe
  width 320px

.ancla-none
  display none

.ancla-footer
  display inline-block

.ancla-poesia
  color textColor
  display block
  text-align center

.audio-section-body
  display block
  margin 1em auto
  text-align center

.avatar, .header
  display block
  padding-top 1.3em

.compartir
  padding-top 3em

.contacto
  background #ffcb1f
  border-radius 6px
  color #000
  cursor pointer
  margin-left 1em
  max-width 90px
  padding .3em

.description-article-section
  padding-left .5em
  text-align justify
  width 90%

.developer
  padding-bottom 2em
  text-align center

.twitter-share-button, .fb-like
  display inline-block
  vertical-align top

.header-header
  color Blanco
  padding-bottom .8em
  padding-left .5em
  text-align center
  width 90%

.img-developer
  border 2px solid Blanco
  border-radius 50%
  height 100px
  width  100px

.img-developer:hover
  transition 1s
  transform rotateY(360deg)

.img-header
  border 2px solid Blanco
  border-radius 50%
  height 180px
  margin-top 1em
  width 180px

.image-article-section
  border 1px solid black
  box-shadow 4px 4px 4px grisOscuro
  height 500px
  padding-left .2em
  width  300px

.section-body
  margin-top 1.5em

.text-video
  text-align center

.video
  height 200px
  margin 0 auto
  width 300px

@media screen and (min-width: 720px)
  audio
    width 400px

  footer
    margin-top 3em
    overflow hidden

  iframe
    width 320px

  .ancla
    display inline-block
    width 100%

  .autor, .developer
    display inline-block

  .img-header
    margin-top 2em

  .avatar, .header
    display inline-block
    padding-top 1em
    vertical-align baseline

  .ancla-footer
    display inline-block
    margin  0
    padding-left 2em
    text-align left


  .autor
    display inline-block
    float left
    padding-left 3em
    text-align left
    width  40%

  .autor, .developer
    margin-top 2em
    vertical-align top

  .compartir
    padding-top 3.7em

  .developer
    border-left 2px solid Blanco
    padding-bottom 2em
    padding-left 2em
    padding-right 3em
    text-align left

  .img-developer
    border  2px solid Blanco
    text-align left

  .inline
    display inline-block

  .fb-like
    width 280px

  .footer-inline
    display inline-block
    text-align left
    vertical-align top

  .header
    padding-left 2em
    width 95%

  .header-header
    text-align justify
    width 90%
  .description-article-section
    width 40%
    padding-left 2em

  .image-article-section
    padding-left 0

  .image-article-section, .description-article-section
    display inline-block
    vertical-align top

  .video
    height 250px
    width 400px

  .ventas-footer
    margin-top 4em
    padding-left 2em
    text-align left

@media screen and (min-width: 946px)
  audio
    width 400px

  footer
    margin-top 3em
    overflow hidden

  header
    padding-bottom 1.5em

  iframe
    width 500px

  .ancla
    width 100%

  .ancla-poesia
    color textColor
    text-align left
    padding-left .8em

  .avatar
    text-align center

  .avatar, .header, .header-header
    display inline-block
    margin 0 auto
    padding-top 1em
    text-align center
    vertical-align top

  .autor
    display inline-block
    float left
    padding-left 3em
    text-align left
    width  40%

  .autor, .developer
    margin-top 2em
    vertical-align top

  .audio-body
    display block

  .audio-body, .video-section
    display inline-block
    vertical-align top
    margin-top 4em

  .developer
    border-left 2px solid Blanco
    padding-bottom 2em
    padding-left 2em
    padding-right 3em
    text-align left

  .img-developer
    border  2px solid Blanco
    text-align left

  .inline
    display inline-block

  .footer-inline
    display inline-block
    text-align left
    vertical-align top

  .header
    padding-left 2em
    width 50%

  .header-header
    text-align justify
    width 95%
  .description-article-section
    padding-left 2em
    width 40%

  .image-article-section
    padding-left 0

  .image-article-section, .description-article-section
    display inline-block
    vertical-align top

  .last-anclaFooter
    padding-bottom 3em

  .poesia-pdf
    margin 0 auto
    max-width 800px

  .video
    height 270px
    width 420px